---

   - name: create a disk
     gcp_compute_disk:
        name: "{{ disk_instance }}"
        size_gb: "{{ config_attributes.gce.disk_size | default(50) }}"
        source_image: 'projects/ubuntu-os-cloud/global/images/family/ubuntu-1604-lts'
        zone: "{{ zone }}"
        project: "{{ gcp_project }}"
        auth_kind: "{{ gcp_cred_kind }}"
        service_account_file: "{{ gcp_cred_file }}"
        scopes:
            - https://www.googleapis.com/auth/compute
        state: present
     register: disk